---
import MainLayout from '@/layouts/MainLayout.astro';
import { getSession } from 'auth-astro/server';
const session = await getSession(Astro.request);
import { actions } from 'astro:actions';
import { ProductList } from '@/components/products/ProductList';

const { data, error } = await Astro.callAction(actions.getProductsByPage, {});

if (error) {
  console.error(error);
}

const { products, totalPages } = data!;
---

<MainLayout>
  <h1 class='text-3xl'>Home Page</h1>
  <ProductList
    client:idle
    initProducts={{
      products,
      totalPages,
    }}
  />
</MainLayout>
